syntax: glob

.vs/
.project
bin/**
*.sym
*.SYM
*.lst
*.map
*.noi
*.rel
*.REL
*.hex
*.HEX
*.bin
*.ihx
*.IHX
*.lk
*.LK
*.orig
*.rej
*.base.dat
dos250ba.dat
kernel.dat
nextor2.rom
info/*.pdf
source/kernel/bank*/*.inc
source/kernel/drivers/*.inc
source/kernel/drivers/**/*.inc
source/kernel/drivers/**/*.lst
!source/kernel/drivers/MegaFlashRomSD/*.bin
source/kernel/drivers/**/*.rom
source/kernel/drivers/**/*.ROM
source/kernel/bank5/*.dat
source/kernel/bank5/*.asm
source/command/msxdos/*.inc
source/command/msxdos/codes.mac
source/command/msxdos/data.mac
source/tools/**.inc
source/tools/**.asm
source/tools/**.com
source/tools/**.COM
source/tools/codes.mac
source/tools/data.mac
*conflicto*.*
*.sln
*.suo
NEXTOR.SYS
NEXTORK.SYS

source/kernel/drivers/b0labels.inc
source/kernel/drivers/bank.inc
source/kernel/drivers/condasm.inc
source/kernel/drivers/const.inc
source/kernel/drivers/macros.inc

source/kernel/bank6/bank.inc
source/kernel/bank6/condasm.inc
source/kernel/bank6/const.inc
source/kernel/bank6/macros.inc

source/kernel/bank5/bank.inc
source/kernel/bank5/condasm.inc
source/kernel/bank5/const.inc
source/kernel/bank5/macros.inc
source/kernel/bank5/printf.cs

source/kernel/bank4/b0labels.inc
source/kernel/bank4/b2labels.inc
source/kernel/bank4/b4rdlabs.inc
source/kernel/bank4/bank.inc
source/kernel/bank4/condasm.inc
source/kernel/bank4/const.inc
source/kernel/bank4/macros.inc

source/kernel/bank3/b0labels.inc
source/kernel/bank3/bank.inc
source/kernel/bank3/condasm.inc
source/kernel/bank3/const.inc
source/kernel/bank3/macros.inc

source/kernel/bank2/b0labels.inc
source/kernel/bank2/b2labels.inc
source/kernel/bank2/bank.inc
source/kernel/bank2/condasm.inc
source/kernel/bank2/const.inc
source/kernel/bank2/macros.inc

source/kernel/bank1/b0labels.inc
source/kernel/bank1/bank.inc
source/kernel/bank1/condasm.inc
source/kernel/bank1/const.inc
source/kernel/bank1/macros.inc

source/kernel/bank0/b0lab_b3.inc
source/kernel/bank0/b0lab_b3.inc
source/kernel/bank0/b0lab_b3.inc
source/kernel/bank0/b0labels.inc
source/kernel/bank0/bank.inc
source/kernel/bank0/condasm.inc
source/kernel/bank0/const.inc
source/kernel/bank0/macros.inc
